@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

.container {
  justify-content: space-between;
  padding: 0 10vw;
  width: 100%;
  padding-bottom: 50px;
  box-sizing: border-box; /* padding과 border를 width에 포함 */
  background-color: #0f0f0f;
  min-width: 320px;
}

a {
  text-decoration: none;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 20px 0;
}

.header__logo {
  font-size: 20px;
  font-weight: bold;
}

.header__menu {
  display: flex;
  text-align: center;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.header__menu li {
  display: flex;
  font-weight: 600;
  font-size: 1.1em;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.header__menu li a {
  padding: 15px 2vw;
  color: rgb(200, 200, 200);
  transition: color 0.2s ease;
}

.header__menu li:hover a{
  color: #ffffff;
  cursor: pointer;
}

.header__menu li:hover {
  background-color: rgb(13, 110, 208);
  cursor: pointer;
}

.header__right {
  display: flex;
  list-style: none;
}

.header__search {
  cursor: pointer;
  margin-right: 2vw;
}

.header__search img {
  padding-top: 3px;
  height: 20px;
}

.header__login {
  padding: 0; margin: 0;
  list-style: none;
}

.header__login button {
  background-color: rgb(14, 134, 255);
  border: none;
  padding: 7px 15px;
  color: white;
  font-size: 11px;
  cursor: pointer;
}

.header__login button:hover {
  background-color: rgb(13, 110, 208);
}

.header__Btn {
  display: none;
  position: absolute;
  align-items: center;
  right: 4px;
  top: 16px;
  font-size: 12px;
}

.header__Btn a {
  transition: color 0.2s ease;
  padding: 10px 0;
}

.header__Btn a:hover {
  color:rgb(14, 134, 255)
}

.title {
  color: white;
  font-weight: bold;
  font-size: 1.15em;
  transition: color 0.2s ease;
}

.category-date {
  display: flex;
  font-size: 0.8em;
  padding: 1.5vw 0;
}

.category {
  color: white;
  font-weight: bold;
  padding-right: 1em;
  border-right: 1px solid #313131;
}

.date {
  padding-left: 1em;
  color: #8f8f8f;
}

/*
.header__menu li:first-child {
  background-color: rgb(13, 110, 208);
}

.header__menu li:first-child a{
  color: white;
}
*/

.headline {
  color: white;
  padding-top: 40px;
  width: 100%;
}

.headline__title {
  font-size: 2em;
  font-weight: bold;
  border-left: 5px solid rgb(14, 134, 255);
  padding-left: 15px;
}

.headline__news {
  display: grid;
  align-items: stretch;
  grid-template-columns: 1fr 1fr;
  gap: 1vw;
  margin: 2vw 0;
  padding: 0;
  width: 100%;
}

.headline__item {
  position: relative;
  padding: 1.5vw 1.5vw;
  border: 1px solid #313131;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.headline__item-info {
  height: 150px;
}

.headline__item-title {
  margin-bottom: auto;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  transition: color 0.2s ease;
}

.headline-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
  margin-top: auto;
}

.gradient-overlay {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(to top, #0f0f0f 10%, transparent 100%);
  transition: opacity 0.2s ease, visibility 0.2s ease;
}
  
.text-overlay {
  opacity: 0;
  visibility: hidden;
  width: 90%;
  position: absolute;
  left: 25px;
  bottom: 25px;
  pointer-events: none;
  color: #8f8f8f;
  font-size: 14px;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}


.headline__item:hover .headline__item-title {
  color: rgb(14, 134, 255)
}

.headline__item:hover .gradient-overlay,
.headline__item:hover .text-overlay {
  opacity: 1;
  visibility: visible;
}

.article {
  width: 100%;
  justify-content: space-between;
  padding-top: 20px;
}

.recommend {
  width: 100%;
  background-color: #212121;
  padding-top: 5px;
}

.recommend-title {
  position: relative;
  color: rgb(200, 200, 200);
  font-weight: bold;
  font-size: 20px;
  display: block;
  text-align: center;
  margin: 25px 0;
}

.recommend-title::before,
.recommend-title::after {
  content: '';
  position: absolute;
  top: 50%;
  height: 0.2em;
  background-color: rgb(14, 134, 255);
  width: 36%;
  margin: 0 1em;
}

.recommend-title::before {
  left: 0;
}

.recommend-title::after {
  right: 0;
}

.recommend ul {
  display: flex;
  list-style-type: none;
  align-items: stretch;
  margin: 0;
  padding: 5px 20px 30px 20px;
}

.recommend__item {
  width: 25%;
  margin: 0;
  list-style: none;
  padding: 0 10px;
}

.recommend__item:hover .recommend__item-title {
  color:rgb(14, 134, 255);
}

.recommend__item-image {
  width: 100%;
  height: 220px;
  object-fit: cover;
  object-position: center;
  display: block;
}

.recommend__item-title {
  display: block;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: color .2s ease;
  margin-top: 10px;
}

.recommend__category-date {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  font-size: 13px;
  bottom: 10px;
}

.no-recommend {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9c9c9c;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 60px;
  font-size: 15px;
  width: 100%;
}

.recent {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.recent ul {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.recent__item {
  list-style: none;
  margin-top: 20px;
  cursor: pointer;
}

.recent__item:hover .recent__item-title {
  color:rgb(14, 134, 255);
}

.recent__item-image {
  width: 100%;
  height: 17vw;
  min-width: 100%;
  min-height: 17vw;
  object-fit: cover;
  object-position: center;
  display: block;
}

.recent__item-info {
  padding-top: 1.5vw;
}

.recent__item-title {
  color: white;
  font-size: 25px;
  font-weight: bold;
  transition: color 0.2s ease;
}

.content {
  color: #8f8f8f;
  font-size: 13px;
}

#pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

#pagination button {
  padding: 12px 16px;
  margin: 0 4px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: none;
  background-color: #313131;
}

#pagination button:hover {
  background-color: rgb(14, 134, 255);
}

#page-num {
  display: flex;
  background-color: transparent;
  color: white;
}

.page-num {
  padding: 5px 10px;
  cursor: pointer;
}

#pagination button.active {
  background-color:rgb(14, 134, 255);
}

.page-num.active {
  font-weight: bold;
}

.no-recommend {
  color: #9c9c9c;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 60px;
  grid-column: 1 / -1;
  font-size: 15px;
}








@media screen and (max-width: 1024px) {

    .container {
      padding: 0 calc(3% + 5px);
      padding-bottom: 50px;
    }
  
    .header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .header__logo {
      padding-bottom: 15px;
    }
  
    .header__menu {
      display: none;
      position: absolute;
      flex-direction: column;
      align-items: center;
      width: 100%;
      top: 60px;
      z-index: 9998;
      background-color: #0f0f0f;
    }
  
    .header__menu li {
      padding-left: 50vw;
      padding-right: 50vw;
      font-size: 1em;
    }
  
    .header__right {
      position: absolute;
      right: 60px;
    }
  
    .header__Btn {
      display: block;
      padding: 10px 0;
    }
  
    .header__menu.active,
    .header__right.active {
      display: flex;
    }
  
    .sub-menu {
      justify-content: start;
    }

    .headline {
      margin: 0;
    }
  
    .headline__title {
      font-size: 1.7em;
      border-left: 4px solid rgb(14, 134, 255);
      padding-left: 12px;
    }
    
    .headline__news {
      width: 100%;
    }
  
    .headline__item-title {
      font-size: 1.2em;
    }

    .article {
      flex-direction: column;
    }

    .recommend {
      width: 100%;
      margin-top: 30px;
      margin-bottom: 50px;
    }

    .recommend-title {
      font-size: 2.2vw;
    }

    .recommend-title::before,
    .recommend-title::after {
      width: 37%;
    }

    .recommend ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .recommend__item {
      width: 90%;
      flex-direction: column;
      padding: 15px 15px;
      justify-content: start;
      align-items: flex-start;
    }

    .recommend__item-image {
      height: 150px;
    }

    .recommend__item-title {
      font-size: 16px;
    }

    .recent {
      width: 100%;
    }

    .recent ul {
      grid-template-columns: 1fr;
    }

    .recent__item {
      display: flex;
      align-items:center;
    }

    .recent__item a {
      display: flex;
    }

    .recent__item-image {
      width: 30%;
      height: 200px;
      min-width: 30%;
      min-height: 200px;
    }
    
    .recent__item-info {
      margin: 0 30px;
      padding: 0;
    }

    .recent__item-title {
      font-size: 20px;
    }
  }
  
  @media screen and (max-width: 700px) {
  
    .container {
      padding: 0 calc(2% + 5px);
      padding-bottom: 50px;
    }
  
    .header__menu li {
      font-size: 12px;
    }
  
    .headline {
      padding: 0;
    }

    .headline__title {
      font-size: 1.5em;
    }
  
    .headline__news {
      grid-template-columns: 1fr;
      width: 96.5%;
      gap: 2vw;
    }
  
    .headline__item {
      width: 95.5%;
      padding: 4% 4%;
    }

    .headline__item-info {
      height: auto;
    }
  
    .headline__item-title {
      font-size: 1.2em;
    }

    .headline-img {
      height: 200px;
    }

    .recommend {
      margin-top: 0;
    }

    .recommend-title {
      font-size: 14px;
      margin-top: 15px;
      margin-bottom: 10px;
    }
    
    .recommend-title::before,
    .recommend-title::after {
      width: 33%;
    }

    .recommend__category-date {
      font-size: 10px;
    }

    .recent ul {
      gap: 10px;
    }
  
    .category-date {
      padding-bottom: 20px;
    }
  
    .recent__item-title {
      font-size: 14px;
    }
  
    .category-date {
      font-size: 10px;
    }

    .recent__item-info {
      margin: 0;
      margin-left: 10px;
      align-items: center;
    }

    .recent__item-image {
      width: 120px;
      height: 110px;
      min-width: 120px;
      min-height: 110px;
    }

    .content {
      display: none;
    }

    #more button {
      padding: 10px 30px;
      cursor: pointer;
      background-color: transparent;
      color: #818181;
      border: 1px solid #818181;
      border-radius: 30px;
      font-size: 10px;
    }

    .no-recommend {
	    font-size: 12px;
    }
  }
